html {
	font-size: 12px;
}

section h2 {
	display: none;
}

header {
	padding: 3em 0;
}

.description.fields .two.wide.field:last-child label {
	color: white;
}

footer {
	padding: 3em 0 .5em;
	text-align: center;
}
